.table-warning {
  background-color: #fff3cd !important;
}

.badge.bg-warning {
  animation: pulse 1.5s infinite;
  color: red;
  font-weight: bold;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  
}
.table-delivered {
  background-color: #9ff3a6 !important; // Vert très clair
  border-left: 4px solid #2e7d32; // Bordure verte à gauche
  
  &:hover {
    background-color: #d4edda !important;
  }
}

.table-canceled {
  background-color: #f8f9fa !important; /* Gris clair */
  color: #6c757d; /* Texte gris */
  td {
    opacity: 0.7;
  }
  
  .btn:not(.btn-danger) {
    display: none; /* Masque les boutons inutiles */
  }
}

.table-canceled:hover {
  background-color: #f8d7da !important; // Rouge clair
}
.address-preview {
  cursor: help;
  position: relative;
  max-width: 200px;
  display: block;
  
  &:hover::after {
    content: attr(title);
    position: absolute;
    background: rgb(3, 170, 248);
    border: 1px solid #ff0606;
    padding: 8px;
    z-index: 1500;
   bottom: 100%;
    left: 0;
    box-shadow: 2px 2px 5px rgb(243, 3, 3);
  }
}
.btn-success{
  transition: all 0.3s ease;
  
  &:hover {
    background-color: #05c205;
    color: white !important;
  }
}

.btn-outline-danger {
  transition: all 0.3s ease;
  
  &:hover {
    background-color: #dc6f35;
    color: white !important;
  }
}

.spinner-border-sm.me-2 {
  margin-right: 0.3rem;
}
.btn-danger {
  transition: all 0.3s ease;
  width: 100%;
  &:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    transform: scale(1.05);
  }

  &:disabled {
    opacity: 0.6;
  }
}