.admin-products-container {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-container {
    overflow-x: auto;
    
    .low-stock {
      color: #d32f2f;
      font-weight: 500;
    }

    mat-icon {
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  mat-paginator {
    margin-top: 20px;
    background: transparent;
  }
}